[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = marc
	email = marc.partensky@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = ~/.stCommitMsg
[pull]
	rebase = true
[init]
	defaultBranch = main
[alias]
	pushall = "!gitpushall() { \
		git remote | xargs -L1 git push --all; \
	}; gitpushall"
	pullall = "!gitpullall() { \
		git remote | xargs -L1 git pull; \
	}; gitpullall"
