[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Marc Partensky
	email = marc.partensky@gmail.com
	; signingkey = 516EAE18A5512CE9
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = ~/.stCommitMsg
[pull]
	rebase = true
[init]
	defaultBranch = master
[alias]
	globalconf = "!nvim ~/.gitconfig"
	conf = "!nvim .git/config"
	pushall = "!git remote | xargs -L1 git push --all"
	pullall = "!git remote | xargs -L1 git pull"
    rpull = "!git pull --recurse-submodules"
	browse = "!gh repo view --web"
	refresh = "!gitrefresh"
	register = "!gitregister"
	unregister = "!gitunregister"
	record = "!gitrecord"
	update = "!gitupdate"

	; browse = "!$PROGRAMS_PATH/dotfiles/gitbrowse.sh"
[http]
	postBuffer = 157286400
