/*
	--baseae:  rgba(  0, 16, 20, 0.8);
	--basead:  rgba(  0, 43, 54, 0.8);
	--baseac:  rgba(  7, 54, 66, 0.8);
	--baseab:  rgba( 88,110,117, 0.8);
	--baseaa:  rgba(101,123,131, 0.8);
	--basea:   rgba(131,148,150, 0.8);
	--baseb:   rgba(147,161,161, 0.8);
	--basec:   rgba(238,232,213, 0.8);
	--based:   rgba(253,246,227, 0.8);
	--yellow:  rgba(181,137,  0, 0.8);
	--orange:  rgba(203, 75, 22, 0.8);
	--red:	 rgba(220, 50, 47, 0.8);
	--magenta: rgba(211, 54,130, 0.8);
	--violet:  rgba(108,113,196, 0.8);
	--blue:	rgba( 38,139,210, 0.8);
	--cyan:	rgba( 42,161,152, 0.8);
	--green:   rgba(133,153,  0, 0.8);
*/
* {
	border: none;
	border-radius: 0;
	font-family: "Noto Sans", Roboto, Helvetica, Arial, sans-serif;
	font-size: 12px;
	min-height: 0;
	color: rgba(253,246,227 , 1);
}

window#waybar {
	background: rgba(  0, 0, 0, 0.2);
	/* border-top: 2px solid rgba(100, 114, 125, 0.5); */
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
	padding: 0 5px;
	background: transparent;
	border-top: 2px solid rgba(238,232,213, 0.3);
}

#workspaces button.focused {
	border-top: 2px solid rgba(238,232,213, 1);
}

#mode {
	background: rgba(  0, 43, 54, 0.8);
	border-top: 2px rgba(238,232,213, 0.8);
}

#battery, #cpu, #memory, #backlight, #network, #pulseaudio, #custom-playerctl, #mode, #idle_inhibitor {
	padding: 0 10px;
	margin: 0 2px;
}

#clock {
	padding: 0 5px;
	/* margin: 0 2px 0 0; */
	/* background: rgba( 88,110,117, 0.5); */
}

#clock.UTC {
	/* margin: 0 4px; */
}

#battery {
	/* background-color: rgba(133,153,  0, 0.8); */
}

#battery.charging {
	/* background-color: rgba(133,153,  0, 0.5); */
}

@keyframes blink {
	to {
		background-color: rgba(  0, 16, 20, 0.8);
	}
}

#battery.warning:not(.charging) {
	/* background-color: rgba(181,137,  0, 0.8); */
}

#battery.warning {
	/* background-color: rgba(181,137,  0, 0.5); */
}

#battery.critical:not(.charging) {
	background: rgba(220, 50, 47, 0.8);
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#battery.critical:not(.charging) {
	background: rgba(220, 50, 47, 0.5);
}

#cpu {
	/* background: rgba(211, 54,130, 0.8); */
}

#memory {
	/* background: rgba( 42,161,152, 0.8); */
}

#backlight {
	/* background: rgba(131,148,150, 0.8); */
}

#network {
	/* background: rgba( 38,139,210 , 0.8); */
}

#network.disconnected {
	background: rgba( 38,139,210 , 0.5);
}

#pulseaudio {
	/* background: rgba(181,137,  0, 0.8); */
}

#pulseaudio.muted {
	/* background: rgba(181,137,  0, 0.5); */
}

/*#custom-playerctl {
	background: rgba(181,137,  0, 0.8);
}
*/
#tray {
	padding: 0 5px;
	margin: 0;
}

#idle_inhibitor {
	/* background: rgba(101,123,131, 0.5); */
}
/* vim:foldmethod=marker:
 */

