/* @import "dreamy.css"; */
/* @import "s3.css"; */
/* @import "black.css"; */
/* @import "default.css"; */

/* @import "./catppuccin/themes/macchiato.css"; */
@import "./catppuccin/themes/mocha.css";

* {
  /* font-family: FantasqueSansMono Nerd Font; */
  /* font-family: FantasqueSansMono NF; */
  /* font-family: MesloLGS Nerd Font; */
  font-family: MesloLGS NF;
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-launcher,
#custom-wallpaper,
#custom-spotify,
#custom-firefox,
#tray,
#backlight,
#clock,
#battery,
#network,
#bluetooth,
#memory, 
#cpu,
#pulseaudio,
#custom-weather,
#custom-lock,
#custom-updates,
#custom-power {
  background-color: @surface0;
  /* padding: 0.5rem 1rem; */
  padding: 0.5rem 0.5rem;
  margin: 5px 0;
}

#custom-launcher {
  color: @blue;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 0.5rem;
}

#custom-wallpaper {
  color: @flamingo;
}

#clock {
  /* color: @blue; */
  /* color: @white; */
  /* border-radius: 0px 1rem 1rem 0px; */
  /* margin-right: 1rem; */
}

#bluetooth {
  /* color: @blue; */
}

#network {
  color: @white;
  border-radius: 0px 1rem 1rem 0px;
}
  /* margin-right: 1rem; */

#battery {
  color: @green;
}

#battery.charging {
  color: @yellow;
}

#battery.warning:not(.charging) {
  color: @red;
}

#memory {
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#backlight {
  /* color: @yellow; */
}

#backlight, #battery {
    border-radius: 0;
}

#pulseaudio {
  /* color: @teal; */
}

#custom-spotify {
  color: @green;
  border-radius: 1rem;
  margin-left: 0.5rem;
}

#custom-firefox {
  color: @red;
  border-radius: 1rem;
  margin-right: 0.5rem;
}

#custom-updates {
  color: @red;
  border-radius: 1rem;
  margin-left: 0.5rem;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#custom-power {
    margin-right: 0.5rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
